.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    width: 100%;
    background: #dddddd;
}

.title {
    font-size: 32px;
    font-weight: 800;
}

.sign_out {
    padding: 1%;
    background-color: white;
    border-radius: 10px;
    margin-left: -45px;
}